// used for pattern lab

.brand-primary {
  background-color: $primary-color;
}

.brand-secondary {
  background-color: $secondary-color;
}

.brand-tertiary {
  background-color: $tertiary-color;
}

.brand-fourth {
  background-color: $gray-light;
}

.brand-fifth {
  background-color: $gray-default;
}

.brand-sixth {
  background-color: $gray-dark;
}

.brand-seventh {
  background-color: $gray-darker;
}

.brand-eighth {
  background-color: $black;
}

.brand-error {
  background-color: $errorbg;
}

.brand-warning {
  background-color: $warningbg;
}

.brand-status {
  background-color: $statusokbg;
}

.brand-font-primary {
  background-color: $font-color-default;
}

.brand-font-secondary {
  background-color: $font-color-light;
}

.brand-font-tertiary {
  background-color: $font-color-dark;
}

.brand-font-fourth {
  background-color: $gray-darker;
}

//end
