// used for pattern lab

.brand-primary {
  background-color: $primary-color;
}

.brand-secondary {
  background-color: $secondary-color;
}

.brand-tertiary {
  background-color: $tertiary-color;
}

.brand-fourth {
  background-color: $gray-light;
}

.brand-fifth {
  background-color: $gray-default;
}

.brand-sixth {
  background-color: $gray-dark;
}

.brand-seventh {
  background-color: $gray-darker;
}

.brand-eighth {
  background-color: $black;
}

.brand-error {
  background-color: $errorbg;
}

.brand-warning {
  background-color: $warningbg;
}

.brand-status {
  background-color: $statusokbg;
}

.brand-ninth {
  background-color: $font-color-dark;
}

.check-circle-icon {
  @include icon-after(check_circle);
}
.error-icon {
  @include icon-after(error);
}
.info-icon {
  @include icon-after(info);
}
.settings-icon {
  @include icon-after(settings);
}

//end

blockquote {
  padding: 5px 30px;
  margin-left: 10px;
  border-left: 4px solid $primary-color;
}
