html, body {
  height: 100%;

  .layout-container {
    min-height: 100%;
    margin-bottom: -1px;
    display: flex;
    flex-direction: column;

    main {
      flex-grow: 1;
    }
  }
}

body {
  min-width: 320px;
}
