////
/// Framework - Links
////

$links: (
  default: (
    color: $primary-color,
    font-weight: 400,
    active-color: lighten($primary-color, 10%)
  )
) !default;

@mixin link($conf: default) {
  $link-conf: extend-in-map($links, $conf);

  color: key($link-conf, color);
  font-weight: key($link-conf, font-weight);

  @include selectors(active) {
    color: key($link-conf, active-color);
    text-decoration: underline;
  }
}
