<ul class="sg-colors">
	<li>
		<span class="sg-swatch brand-primary"></span>
		<span class="sg-label">Primary</span>
	</li>
	<li>
		<span class="sg-swatch brand-secondary"></span>
		<span class="sg-label">Secondary</span>
	</li>
	<li>
		<span class="sg-swatch brand-tertiary"></span>
		<span class="sg-label">Tertiary</span>
	</li>
	<li>
		<span class="sg-swatch brand-fourth"></span>
		<span class="sg-label">Fourth</span>
	</li>
	<li>
		<span class="sg-swatch brand-fifth"></span>
		<span class="sg-label">Fifth</span>
	</li>
	<li>
		<span class="sg-swatch brand-sixth"></span>
		<span class="sg-label">Sixth</span>
	</li>
	<li>
		<span class="sg-swatch brand-seventh"></span>
		<span class="sg-label">Seventh</span>
	</li>
	<li>
		<span class="sg-swatch brand-eighth"></span>
		<span class="sg-label">Eighth</span>
	</li>
	<li>
		<span class="sg-swatch brand-ninth"></span>
		<span class="sg-label">Ninth</span>
	</li>
	<li>
		<span class="sg-swatch brand-error"></span>
		<span class="sg-label">Error</span>
	</li>
	<li>
		<span class="sg-swatch brand-warning"></span>
		<span class="sg-label">Warning</span>
	</li>
	<li>
		<span class="sg-swatch brand-status"></span>
		<span class="sg-label">Status</span>
	</li>
</ul>