<ul class="sg-colors">
	<li>
		<span class="sg-swatch brand-font-primary"></span>
		<span class="sg-label">Primary</span>
	</li>
	<li>
		<span class="sg-swatch brand-font-secondary"></span>
		<span class="sg-label">Secondary</span>
	</li>
	<li>
		<span class="sg-swatch brand-font-tertiary"></span>
		<span class="sg-label">Tertiary</span>
	</li>
	<li>
		<span class="sg-swatch brand-font-fourth"></span>
		<span class="sg-label">Fourth</span>
	</li>
</ul>