<p>Primary font: <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quod.</p>
<p><em>Primary font italic: <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quod. </em></p>
<p><strong>Primary font bold: <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quod.</strong></p>