<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-select-list form-item-select-list">
    <label for="edit-select-list">Select list</label>
    <select data-drupal-selector="edit-select-list" aria-describedby="edit-select-list--description" id="edit-select-list" name="select_list" class="form-select"><option value="option one">option one</option><option value="option 2">option 2</option><option value="option 3">option 3</option><option value="option 4">option 4</option><option value="option 5">option 5</option></select>
</div>