<div class="fieldset-wrapper">
    <div id="edit-checkboxes" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-checkboxes-option-one form-item-checkboxes-option-one">
            <input data-drupal-selector="edit-checkboxes-option-one" aria-describedby="edit-checkboxes--description" type="checkbox" id="edit-checkboxes-option-one" name="checkboxes[option one]" value="option one" class="form-checkbox">

            <label for="edit-checkboxes-option-one" class="option">option one</label>
        </div>
        <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-checkboxes-option-2 form-item-checkboxes-option-2">
            <input data-drupal-selector="edit-checkboxes-option-2" aria-describedby="edit-checkboxes--description" type="checkbox" id="edit-checkboxes-option-2" name="checkboxes[option 2]" value="option 2" class="form-checkbox">

            <label for="edit-checkboxes-option-2" class="option">option 2</label>
        </div>
        <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-checkboxes-option-3 form-item-checkboxes-option-3">
            <input data-drupal-selector="edit-checkboxes-option-3" aria-describedby="edit-checkboxes--description" type="checkbox" id="edit-checkboxes-option-3" name="checkboxes[option 3]" value="option 3" class="form-checkbox">

            <label for="edit-checkboxes-option-3" class="option">option 3</label>
        </div>
        <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-checkboxes-option-4 form-item-checkboxes-option-4">
            <input data-drupal-selector="edit-checkboxes-option-4" aria-describedby="edit-checkboxes--description" type="checkbox" id="edit-checkboxes-option-4" name="checkboxes[option 4]" value="option 4" class="form-checkbox">

            <label for="edit-checkboxes-option-4" class="option">option 4</label>
        </div>
        <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-checkboxes-option-5 form-item-checkboxes-option-5">
            <input data-drupal-selector="edit-checkboxes-option-5" aria-describedby="edit-checkboxes--description" type="checkbox" id="edit-checkboxes-option-5" name="checkboxes[option 5]" value="option 5" class="form-checkbox">

            <label for="edit-checkboxes-option-5" class="option">option 5</label>
        </div>
    </div>
</div>