<div class="fieldset-wrapper">
    <div id="edit-radios" class="form-radios"><div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-radios form-item-radios">
            <input data-drupal-selector="edit-radios-option-one" aria-describedby="edit-radios--description" type="radio" id="edit-radios-option-one" name="radios" value="option one" class="form-radio">

            <label for="edit-radios-option-one" class="option">option one</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-radios form-item-radios">
            <input data-drupal-selector="edit-radios-option-2" aria-describedby="edit-radios--description" type="radio" id="edit-radios-option-2" name="radios" value="option 2" class="form-radio">

            <label for="edit-radios-option-2" class="option">option 2</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-radios form-item-radios">
            <input data-drupal-selector="edit-radios-option-3" aria-describedby="edit-radios--description" type="radio" id="edit-radios-option-3" name="radios" value="option 3" class="form-radio">

            <label for="edit-radios-option-3" class="option">option 3</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-radios form-item-radios">
            <input data-drupal-selector="edit-radios-option-4" aria-describedby="edit-radios--description" type="radio" id="edit-radios-option-4" name="radios" value="option 4" class="form-radio">

            <label for="edit-radios-option-4" class="option">option 4</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-radios form-item-radios">
            <input data-drupal-selector="edit-radios-option-5" aria-describedby="edit-radios--description" type="radio" id="edit-radios-option-5" name="radios" value="option 5" class="form-radio">

            <label for="edit-radios-option-5" class="option">option 5</label>
        </div>
    </div>
</div>