<a href="javascript:void(0);" class="button">Link Button</a>
<a href="javascript:void(0);" class="button active">Link Button Active</a>
<input type="button" value="Button Input" class="button" />
<input type="reset" value="Form Reset" class="button" />
<input type="submit" value="Form Submit" class="button" />