////
/// Entity browser supplemental styling for admin theme.
////

.entity-browser-form {
  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 3px;

    &.type-svg {
      border: 0 none;
    }
  }

  .views-field-name {
    font-size: 16px;

    &:nth-child(n+1) {
      margin-top: 10px;
    }
  }

  .eb-tabs {
    margin-bottom: 20px;
  }

  .views-row {
    display: flex;
    flex: 1;
  }

  .views-col {
    padding: 10px;
    transition: background .25s, box-shadow .25s;
    cursor: pointer;
    flex-basis: 33.3333%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    &:hover {
      background: #f7f7f7;
    }
  }

  .column-selected {
    &, &:hover {
      background: lighten(#0074bd, 55%);
      box-shadow: 0 0 0 1px #cce3f3 inset;
    }
  }

  .view-entity-browser {
    .form-type-checkbox.form-no-label {
      display: none;
    }
  }
}
